<link rel="stylesheet" type="text/css" href="stylesheets/style_e301.css">
<div class="login-page">
    <div class="form">
        <h2><%= locals.msg %></h2>
        <form action="/process_login" method="post" class="login-form">
            <input type="text" placeholder="username" name="username" />
            <input type="password" placeholder="password" name="password"/>
            <button>Log In</button>
            <p class="message">Need To Register? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>