<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TTOG MERN Boiler</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link type="text/css" href="stylesheets/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>TTOG MERN SFE Boiler</h2>
        <p>Boilerplate built by and for The Trove Of Gems (ttog)</p>
    </div>
</body>
</html>