<!DOCTYPE html>
<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
<link type="text/css" href="stylesheets/style.css" rel="stylesheet" />
<div class="login-page">
    <div class="form">
        <form action="/process_login" method="post" class="login-form">
            <input type="text" placeholder="username" name="username" />
            <input type="password" placeholder="**********" name="password" />
            <button>Login</button>
            <p class="message">Not Registered? <a href="#">Create An Account</a></p>
        </form>
    </div>
</div>