@import url(https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap);

.container {
    position: relative;
    z-index: 1;
    max-width: 1100px;
    margin: 8% auto 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #FF9933; /* fallback for old browsers */
    background: linear-gradient(to left, #FF9933, #EEAA00);
    font-family: "Zen Old Mincho", sans-serif;
}