@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

html {
    min-height: 100vh;
}

body {
    font-family: 'Nanum Myeongjo', serif !important;
    letter-spacing: 3px;
    min-height: inherit;
    overflow-x: hidden;
}

article {
    margin: 0 auto;
    width: 75%;
}

.custom-nav-link {
    color: #ecb939!important;
}

.dropdown-menu {
    background-color: #000000!important;
    color: #ecb939!important;
}

#main {
    background-color: #ecb939;
    min-height: 85vh;
}

#footer {
    align-items: center;
    background-color: #000000;
    color: #ecb939;
    display: flex;
    justify-content: center;
    min-height: 15vh;
}

.content-dividers {
    min-height: 85vh;
}

.custom-nav-link-disabled {
    color: #726255!important;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
}

.huffle-nav {
    background-color: #000000;
    padding: 0!important;
    margin: 0!important;
}

.sidebar-left,
.sidebar-right {
    background-color: #372e29;
    color: #ecb939;
    font-size: .75rem;
}

.btn-outline-huffle {
    border-color: #ecb939!important;
    color: #f0c75e!important;
}

.input-huffle {
    background-color: #372e29!important;
    color: #f0c75e!important;
}

::placeholder {
    color: #f0c75e !important;
    opacity: 1;
}

#sidebar-left-content {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

#main-content {
    font-size: 2rem;
    margin: 1rem auto 0 auto;
    text-align: center;
    width: 100%;
}

#sidebar-right-content {
    margin: 1rem auto 0 auto;
    text-align: end;
    width: 90%;
}

.nav-menu-item:hover,
.dd-hover:hover {
    background-color: #ecb939!important;
    color: #000000!important;
}

.custom-nav-container {
    margin: 0!important;
    padding: 0!important;
}

.navbar-brand {
    padding: 0 1rem 0 0!important;
}

.search-site-form {
    margin-right: 1%!important;
}

.movie-tile { transition: all .2s ease-in-out; }
.movie-tile:hover { transform: scale(1.1); }

@media only screen and (max-width: 768px) {
    #sidebar-right-content,
    #sidebar-left-content {
        text-align: center;
    }

    .search-site-form {
        flex-direction: column;
        margin: 1rem 1rem 1rem 1rem!important;
    }

    .input-huffle {
        margin-bottom: 1rem;
    }

    .btn-outline-huffle{
        width: 50%;
    }

    .nav-list-items {
        margin-left: 1rem;
    }

    .nav-list-items-submenu {
        margin-right: 1rem!important;
    }
}